<div class="row product-list">
    <div class="col-sm-6 col-md-4 col-sm-12 col-lg-12 col-md-12 product-item">
        <div class="profile-card">
            <div class="row" style="height: 100%;margin-left: 1%;">
                <div class="col">
                    <p class="text-left profile-bio" style="color: rgb(7,18,102);">Enter UCE Subjects and Results</p>
                </div>
            </div>
            <div class="row" style="height: 100%;margin-left: 1%;">
                <div class="col-sm-6 col-md-6 col-lg-6">

                    <form [formGroup]="uceResults" >
                        <div class="input-group" *ngFor="let subject of compulsorySubjects">
                            <div class="input-group-prepend"><span class="input-group-text">{{ subject.name }} &nbsp; &nbsp;</span></div>
                            <div class="input-group-append">
                                <select class="custom-select" (change)="inputChanged(subject.code, $event)">
                                    <option value="">Select grade</option>
                                    <option *ngFor="let grade of Grades" [ngValue]="grade.value">{{grade.name}}</option>
                                </select>
                            </div>
                            <br>
                        </div>
                    </form>
                </div>


                <div class="col-sm-6 col-md-6 col-lg-6">
                     <form [formGroup]="electivesResults" >

                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">Elective 1 </span></div>
                            <div class="input-group-append">
                                <select class="custom-select" #uceElective1 (change)="electiveChanged(uceElective1, $event)" formControlName="uceElective1">
                                    <option value="">Select subject</option>
                                    <option *ngFor="let subject of electives" [ngValue]="subject.code">{{subject.name}}</option>
                                </select>
                            </div>
                            <div class="input-group-append">
                                <select class="custom-select" #uceElective1Grade (change)="electiveChanged(uceElective1Grade, $event)" formControlName="uceElective1Grade">
                                    <option value="">Select grade</option>
                                    <option *ngFor="let grade of Grades" [ngValue]="grade.value">{{grade.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">Elective 2</span></div>
                            <div class="input-group-append">
                                <select class="custom-select" #uceElective2 (change)="electiveChanged(uceElective2, $event)" formControlName="uceElective2">
                                    <option value="">Select subject</option>
                                    <option *ngFor="let subject of electives" [ngValue]="subject.code">{{subject.name}}</option>
                                </select>
                            </div>
                            <div class="input-group-append">
                                <select class="custom-select" #uceElective2Grade (change)="electiveChanged(uceElective2Grade, $event)" formControlName="uceElective2Grade">
                                    <option value="">Select grade</option>
                                    <option *ngFor="let grade of Grades" [ngValue]="grade.value">{{grade.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">Elective 3</span></div>
                            <div class="input-group-append">
                                <select class="custom-select" #uceElective3 (change)="electiveChanged(uceElective3, $event)" formControlName="uceElective3">
                                    <option value="">Select subject</option>
                                    <option *ngFor="let subject of electives" [ngValue]="subject.code">{{subject.name}}</option>
                                </select>
                            </div>
                            <div class="input-group-append">
                                <select class="custom-select" #uceElective3Grade (change)="electiveChanged(uceElective3Grade, $event)" formControlName="uceElective3Grade">
                                    <option value="">Select grade</option>
                                    <option *ngFor="let grade of Grades" [ngValue]="grade.value">{{grade.name}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
