<div class="container-fluid container">
    <section style="margin-right: 1%;margin-left: 1%;">
        <div>
            <div class="jumbotron hero-technology" style="background-image: url(&quot;assets/img/career21.jpg&quot;);"></div>
            <div class="container">
                <div class="row product-list">
                    <div data-aos="slide-up" class="col-sm-6 col-md-4 col-sm-8 col-lg-8 col-md-8 product-item  slide-left">
                        <div class="profile-card" style="filter: blur(0px) brightness(43%) contrast(115%);">
                            <div class="row" style="height: 100%;margin-top: 1%;">
                                <div class="col">
                                    <p class="profile-bio" style="color: rgb(7,18,102);">Career Track is a web platform that provides with a guide on the choices that you make hile pursuing your career goals in Uganda. It provides a space where you can view recommended subject combinations at UACE
                                        level, recommended course application choices for gorvernment and private scheme at different public universities in Uganda hence providing you with a better chance of achieving your desired career goals.<br></p>
                                    <p
                                        class="profile-bio" style="color: rgb(7,18,102);">You can also read different articles in the blog and read about different people's views on achievemenet, education and careers. Take a tour on the platform and change your life. Thanks!!!!!!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-4 col-sm-4" style="height: 100%;">
                        <div>
                            <div class="row" style="height: 100%;margin-top: 1%;">
                                <div class="col text-center" style="padding-bottom: 15px;padding-top: 15px;">
                                   <h5 style="color:  rgb(7,18,102);">Career Blog</h5> 
                                    <p style="color:  rgb(7,18,102);">Visit the career the career blog and read well curated articles about careers and education in Uganda.</p>
<button  mat-raised-button style="color: rgb(7,18,102);" routerLink='/blog'>View Blog</button>
<!--
<a class="btn btn-outline-primary" role="button" style="color: rgb(7,18,102);font-size: 14px;cursor:pointer;" routerLink='/blog'>View Blog</a>
-->
</div>
                            </div>
                        </div>
                        <div class="border rounded profile-card"></div>
                    </div>
                </div>
                <section id="section-timeline" style="padding-top: 0px;padding-bottom: 100px;background-color: rgba(0,0,0,0.1);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-group timeline">
                                    <li class="list-group-item">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/1.jpg"></div>
                                        <div data-aos="zoom-in" class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 style="margin-right: 5%;color: rgb(7,18,102);">2017-2018</h4>
                                                <h4 class="subheading" style="margin-right: 5%;color: rgb(81,245,4);">Our Humble Beginnings </h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted" style="margin-right: 5%;color: rgb(7,18,102);">Came up with an idea for a web platform that provides with a guide on the choices that you make hile pursuing your career goals in Uganda. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item timeline-inverted">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/4.jpg"></div>
                                        <div data-aos="zoom-in" class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 style="margin-left: 5%;color: rgb(7,18,102);">March 2019</h4>
                                                <h4 class="subheading" style="margin-left: 5%;color: rgb(81,245,4);">An Agency is Born </h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted" style="margin-left: 5%;">Shared our idea with varoius stakeholders. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/3.jpg"></div>
                                        <div data-aos="zoom-in" class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 style="margin-right: 5%;color: rgb(7,18,102);">May 2019</h4>
                                                <h4 class="subheading" style="margin-right: 5%;color: rgb(81,245,4);">Transition to Partial Service </h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted" style="margin-right: 5%;">Developed a low-fidelity prototype of the application</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item timeline-inverted">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/4.jpg"></div>
                                        <div data-aos="zoom-in" class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 style="margin-left: 5%;color: rgb(7,18,102);">November 2019</h4>
                                                <h4 class="subheading" style="margin-left: 5%;color: rgb(81,245,4);">Phase Two Transition </h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted" style="margin-left: 5%;">Developed a high-fidelity prototype of the application</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item timeline-inverted" data-aos="zoom-in">
                                        <div class="timeline-image" style="background-color: rgb(81,245,4);">
                                            <p class="text-center" style="color: rgb(7,18,102);padding-top: 30%;font-size: 26px;">Be part of our story</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row product-list">
                    <div class="col" style="height: 100%;">
                        <div>
                            <div class="row" style="height: 100%;margin-top: 1%;">
                                <div class="col text-center" style="padding-bottom: 15px;padding-top: 15px;">
                                    <p style="color: rgb(7,18,102);font-size: 24px;">Contact Us</p>
                                    <p style="color: rgb(7,18,102);font-size: 19px;">We'd love to hear from you!<br></p>
                                    <div class="row" style="background-color: #8df769;margin-right: 0%;margin-left: 0%;">
                                        <div class="col">
                                            <p style="color: rgb(7,18,102);margin-bottom: 0px;"><strong>For General Inquiries</strong><br></p>
                                            <p style="color: rgb(7,18,102);">hello@careertrack.com<br></p>
                                        </div>
                                        <div class="col">
                                            <p style="color: rgb(7,18,102);margin-bottom: 0px;"><strong>For Support</strong><br></p>
                                            <p style="color: rgb(7,18,102);">support@careertrack.com<br></p>
                                        </div>
                                        <div class="col">
                                            <p style="color: rgb(7,18,102);margin-bottom: 0px;"><strong>For Partnerships</strong><br></p>
                                            <p style="color: rgb(7,18,102);">partners@careertrack.com<br></p>
                                        </div>
                                        <div class="col">
                                            <p style="color: rgb(7,18,102);margin-bottom: 0px;"><strong>For Media Inquiries</strong><br></p>
                                            <p style="color: rgb(7,18,102);">press@careertrack.com<br></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col" style="padding-top: 1%;">
                                            <p style="color: rgb(7,18,102);">Visit our Help Page for FAQs and Live Chat support<br></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
