<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="color: rgb(14,22,89);margin-bottom: 0px;">
    <div class="container-fluid">
        <img src="assets/img/logo.PNG" routerLink='/' style="cursor: pointer;">
        <ul class="nav navbar-nav flex-nowrap ml-auto">
            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                <div class="nav-item dropdown no-arrow">
                    <a class="dropdown-toggle nav-link"  aria-expanded="false" routerLink='/home'  routerLinkActive="active" style="color: rgb(7,18,102);">
                        <p style="color: rgb(7,18,102);">Home</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu"></div>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                <div class="nav-item dropdown no-arrow">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" routerLink='/about'  routerLinkActive="active" style="color: rgb(7,18,102);">
                        <p style="color: rgb(7,18,102);">About</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu"></div>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                <div class="nav-item dropdown no-arrow">
                    <a class="dropdown-toggle nav-link"  aria-expanded="false" routerLink='/blog'  routerLinkActive="active" style="color: rgb(7,18,102);">
                        <p style="color: rgb(7,18,102);">Blog</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu"></div>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                <div class="nav-item dropdown no-arrow">
                    <a class="dropdown-toggle nav-link"  aria-expanded="false" (click)="openDialog()" style="color: rgb(7,18,102); cursor: pointer;">
                        <p style="color: rgb(7,18,102);">Sign up / Sign in</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu"></div>
                </div>
            </li>
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow" role="presentation">
                <div class="nav-item dropdown no-arrow">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(7,18,102);">
                        <span class="d-none d-lg-inline mr-2 text-gray-600 small" style="color: rgb(7,18,102);">Patrick Amwine</span>
                        <img class="border rounded-circle img-profile" src="assets/img/isaac.jpg">
                    </a>
                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu" style="color: rgb(7,18,102);">
                        <a class="dropdown-item" role="presentation" routerLink="/profile"  routerLinkActive="active" style="color: rgb(7,18,102);background-color: transparent;">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" role="presentation" href="#">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Sign out
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
