<div class="container-fluid">
    <div class="text-center mt-5">
        <div class="error mx-auto" data-text="404" style="color: rgb(81,245,4);">
            <p class="m-0" style="color: rgb(7,18,102);">404</p>
        </div>
        <p class="text-dark mb-5 lead" style="color: rgb(7,18,102);">Page Not Found</p>
        <p class="text-black-50 mb-0" style="color: rgb(7,18,102);">It looks like what you are looking for is not on this website...</p>
      <!--  <a routerLink='' style="color: rgb(7,18,102);">← ⇦ ⟸ ⤌ Back to Home</a> -->
 	<a routerLink='' style="color: rgb(7,18,102);"> ⟸ Back to Home</a>
    </div>
</div>
