<div class="container" style="background-color: rgba(0,0,0,0.1);padding-top: 24px;">
    <div>
        <div class="jumbotron hero-technology" style="background-image: url(&quot;assets/img/nakivale-girls.jpg&quot;);">
        </div>
        <div class="container" style="filter: brightness(99%);">

            <div class="row" >

                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text">Recommendation Type &nbsp; &nbsp;</span></div>
                        <div class="input-group-append">
                            <select class="custom-select" (change)="inputChanged($event)">
                                <option value="">Select a recommendation</option>
                                <option *ngFor="let kk of recommendation" [ngValue]="kk.value">{{kk.name}}</option>
                            </select>
                        </div>
                    </div>
                    
            </div>
            <br>
            <div *ngIf="educLevel.careers" class="row" style="width: 100%;padding-bottom: 40px;">
                <mat-horizontal-stepper  #stepper style="width: 100%;">
            
                    <mat-step *ngIf="educLevel.uace" >
                        <ng-template matStepLabel ><span>UACE Results</span></ng-template>
                        <app-uace ></app-uace>
                        <div class="mat-buttons">
                            <button mat-raised-button matStepperNext>Next</button>
                        </div>
                       
                        
                    </mat-step>
            
                    <mat-step *ngIf="educLevel.uce">
                
                        <ng-template matStepLabel><span>UCE Results</span></ng-template>
                        <app-uce></app-uce>
                        <div class="mat-buttons">
                            <button *ngIf="educLevel.uace"  mat-raised-button matStepperPrevious>Back</button>
                            <button mat-raised-button matStepperNext>Next</button>
                        </div>
            
                
                    </mat-step>
            
                    <mat-step >
                      <ng-template matStepLabel><span>Careers</span></ng-template>
                      <div class="row product-list">
                        <div class="col-sm-12 col-lg-12 col-md-12 product-item">
                            <div class="profile-card">
                                <div class="row" style="height: 100%;margin-left: 1%;">
                                    <div class="col">
                                        <p class="text-left profile-bio" style="color: rgb(7,18,102);">Enter Career</p>
                                    </div>
                                </div>
                                <div class="row" style="height: 100%;margin-left: 1%;margin-bottom: 2.5%;">
                                    <div class="col" >
                                        <div>
                                            <form [formGroup]="careerForm" class="example-form">
                                                <div class="input-group">
                                                    <mat-form-field class="example-full-width">
                                                        <input type="text"
                                                               placeholder="Career choice (compulsory)"
                                                               aria-label="Number"
                                                               matInput
                                                               [formControl]="careerChoice"
                                                               [matAutocomplete]="auto">
                                                          
                                                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                                          <mat-option *ngFor="let option of filteredOption | async" [value]="option">
                                                            {{option}}
                                                          </mat-option>
                                                        </mat-autocomplete>
                                                      </mat-form-field>
                                                </div>                 
                                                  
                                            </form>
            
                                        </div>
                                    </div>
                                    <div class="col">
                                        <!-- <div class="row">
                                            <div class="col">
                                                <form [formGroup]="careerForm">
                                                    <textarea class="border rounded border-primary shadow-sm form-control" formControlName="comments" style="width: 100%;height: 75%;margin-top: 1%;" placeholder="  Add comment......"></textarea>
                                                </form>
                                            </div>
                                        </div> -->
                                        
                                        <div class="row">

                                                <div *ngIf="loggedIn" class="col" >
                                                    <mat-checkbox  color="primary">Save details to my profile</mat-checkbox> <!--[(ngModel)]="saveDetails"-->
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="mat-buttons">
                            <button  mat-raised-button matStepperPrevious>Back</button>
                            <button  mat-raised-button color="primary" (click)="verify()" >Submit</button>
                            <!-- <button  mat-raised-button (click)="stepper.reset()">Submit</button> -->
                        </div>
                    
                    </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>

<div *ngIf="operationSuccess && educLevel.uce && !(educLevel.uace)" class="container" style="background-color: rgba(0,0,0,0.04);padding-top: 20px;">
    <h2 class="post-title recomend text-center" style="width: 100%;" >Recommended Combinations</h2>

    <div class="row product-list" *ngFor="let combination of recommendedCombinations" >
        <div class="col-sm-12 col-lg-12 col-md-12 product-item">
            <div class="border rounded profile-card">
                <div class="row" style="height: 100%;margin-top: 1%;padding: 1%;">
                    <div class="col col-lg-2 col-md-2 col-sm-12" style="height: 100%;">
                        <img class="rounded profile-pic" src="assets/img/computer.jpg" style="height: auto;width: 100%;">
                    </div>
                    <div class="col col-lg-10 col-md-10 col-sm-12 text-left" style="max-width: 100%;height: 100%;">
                            <h3  class="post-title recomend"  >
                                {{combination.code}}&nbsp;&nbsp;
                                (<span *ngFor="let subject of combination.subjects">{{subject}},&nbsp;</span><span>General Paper</span>)</h3>
                            <h6 class="post-subtitle recomend"  >{{combination.description}} </h6>
                            <h4 class="post-subtitle recomend"  >Major careers</h4>
                            <ul class="recomend" >
                            <li *ngFor="let possibleCareer of combination.careers" >{{possibleCareer}}</li>
                            </ul>
                        <p class="text-center post-meta">Last updated&nbsp;:&nbsp;{{combination.lastUpdated}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Source&nbsp;:&nbsp;{{combination.source}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <div class="row product-list">
        <div class="col-sm-12 col-lg-12 col-md-12 product-item">
            <div class="border rounded profile-card">
                <div class="row" style="height: 100%;margin-top: 1%;padding: 1%;">
                    <div class="col col-lg-2 col-md-2 col-sm-12" style="height: 100%;">
                        <img class="rounded profile-pic" src="assets/img/computer.jpg" style="height: auto;width: 100%;">
                    </div>
                    <div class="col col-lg-10 col-md-10 col-sm-12 text-left" style="max-width: 100%;height: 100%;">
                            <h3  class="post-title recomend"  >Bachelor of Science in Computer Science, Makerere University</h3>
                            <h6 class="post-subtitle recomend"  >Course description</h6>
                            <h4 class="post-subtitle recomend"  >Major careers</h4>
                            <ul class="recomend" >
                                <li>Data Scientist</li>
                                <li>Computer Programmer</li>
                                <li>Software Engineer</li>
                            </ul>
                        <p class="text-center post-meta">Last updated&nbsp;September 24, 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div *ngIf="operationSuccess && educLevel.uace" class="container" style="background-color: rgba(0,0,0,0.04);padding-top: 20px;">
    <h2 class="post-title recomend text-center" style="width: 100%;" >Recommended University Programs</h2>

    <div class="row product-list" *ngFor="let program of recommendedPrograms" >
        <div class="col-sm-12 col-lg-12 col-md-12 product-item">
            <div class="border rounded profile-card">
                <div class="row" style="height: 100%;margin-top: 1%;padding: 1%;">
                    <div class="col col-lg-2 col-md-2 col-sm-12" style="height: 100%;">
                        <img class="rounded profile-pic" src="assets/img/computer.jpg" style="height: auto;width: 100%;">
                    </div>
                    <div class="col col-lg-10 col-md-10 col-sm-12 text-left" style="max-width: 100%;height: 100%;">
                            <h3  class="post-title recomend"  >
                                {{program.name}}&nbsp;
                                (<span>{{program.university}}</span>)</h3>
                            <h6 class="post-subtitle recomend">{{program.description}} </h6>
                            <h4 class="post-subtitle recomend">Major careers</h4>
                            <ul class="recomend" >
                            <li *ngFor="let possibleCareer of program.careers" >{{possibleCareer}}</li>
                            </ul>
                        <p class="text-center post-meta">Last updated&nbsp;:&nbsp;{{program.lastUpdated}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Source&nbsp;:&nbsp;{{program.source}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row product-list">
        <div class="col-sm-12 col-lg-12 col-md-12 product-item">
            <div class="border rounded profile-card">
                <div class="row" style="height: 100%;margin-top: 1%;padding: 1%;">
                    <div class="col col-lg-2 col-md-2 col-sm-12" style="height: 100%;">
                        <img class="rounded profile-pic" src="assets/img/computer.jpg" style="height: auto;width: 100%;">
                    </div>
                    <div class="col col-lg-10 col-md-10 col-sm-12 text-left" style="max-width: 100%;height: 100%;">
                            <h3  class="post-title recomend"  >Bachelor of Science in Computer Science, Makerere University</h3>
                            <h6 class="post-subtitle recomend"  >Course description</h6>
                            <h4 class="post-subtitle recomend"  >Major careers</h4>
                            <ul class="recomend" >
                                <li>Data Scientist</li>
                                <li>Computer Programmer</li>
                                <li>Software Engineer</li>
                            </ul>
                        <p class="text-center post-meta">Last updated&nbsp;September 24, 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<ngx-loading style="height: auto;" [show]="loading"></ngx-loading>