<div class="carousel slide" data-ride="carousel" id="carousel-1">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="jumbotron hero-nature carousel-hero" style="background-image: url(&quot;assets/img/lawfirm.jpg&quot;);">
                <h1 class="text-left hero-title" style="max-width: 80%;margin-left: 92px;padding-left: 15px;color: white;">What do you want to do with your life</h1>
                <p class="text-left hero-subtitle" style="max-width: 80%;background-color: rgba(0,0,0,0.6);"><br>Bosses, clients and colleagues aren’t just going to give you the life you dream of, you need to negotiate what you want.<br><br></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron hero-nature carousel-hero" style="background-image: url(&quot;assets/img/education.jpg&quot;);">
                <h1 class="text-left hero-title" style="max-width: 80%;margin-left: 92px;padding-left: 15px;">Fantasizing about retirement.<br></h1>
                <p class="text-left hero-subtitle" style="max-width: 80%;background-color: rgba(0,0,0,0.6);"><br>Bosses, clients and colleagues aren’t just going to give you the life you dream of, you need to negotiate what you want.<br><br></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron hero-nature carousel-hero" style="background-image: url(&quot;assets/img/career-blog-image.jpg&quot;);">
                <h1 class="text-left hero-title" style="max-width: 80%;margin-left: 92px;padding-left: 15px;">Fantasizing about retirement.<br></h1>
                <p class="text-left hero-subtitle" style="max-width: 80%;background-color: rgba(0,0,0,0.6);"><br>Many of us dream of escaping, but work isn’t going away, so you ought to make it something great instead.<br><br></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron hero-nature carousel-hero" style="background-image: url(&quot;assets/img/educ.jpg&quot;);">
                <h1 class="text-left hero-title" style="max-width: 80%;margin-left: 92px;padding-left: 15px;">The time is now</h1>
                <p class="text-left hero-subtitle" style="max-width: 80%;color: white;background-color: rgba(0,0,0,0.6);">Work occupies much of our waking lives. Why not spend the time to build a career you love, rather than one which makes you miserable? Get best ideas on how to build a successful career<br></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron hero-nature carousel-hero" style="background-image: url(&quot;assets/img/nakivale-girls.jpg&quot;);">
                <h1 class="text-left hero-title" style="max-width: 80%;margin-left: 92px;padding-left: 15px;">You need to negotiate your lifestyle</h1>
                <p class="text-left hero-subtitle" style="max-width: 80%;"><br>Bosses, clients and colleagues aren’t just going to give you the life you dream of, you need to negotiate what you want.<br><br></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron hero-nature carousel-hero" style="background-image: url(&quot;assets/img/UGA-education.jpg&quot;);">
                <h1 class="text-left hero-title" style="max-width: 80%;margin-left: 92px;padding-left: 15px;">I am a Hero</h1>
                <p class="text-left hero-subtitle" style="max-width: 80%;"><br>Understanding how your career actually works, not just doing what feels good, is the first step to mastering it.<br><br></p>
            </div>
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev" style="color: rgb(81,245,4);"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1"
            role="button" data-slide="next" style="color: rgb(81,245,4);"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a>
    </div>
    <ol class="carousel-indicators" style="color: rgb(7,18,102);">
        <li data-target="#carousel-1" data-slide-to="0"></li>
        <li data-target="#carousel-1" data-slide-to="1" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
        <li data-target="#carousel-1" data-slide-to="3"></li>
        <li data-target="#carousel-1" data-slide-to="4"></li>
        <li data-target="#carousel-1" data-slide-to="5"></li>
    </ol>
</div>



<div class="container">
    <section style="margin-right: 1%;margin-left: 1%;">
        <div class="row" style="height: 100%;margin-top: 1%;">
            <div class="col col-lg-9 col-md-9 col-sm-9" data-aos="slide-up" style="max-width: 100%;height: 100%;">
                <div>
                    <div class="row" style="height: 100%;margin-top: 1%;">
                        <div class="col col-lg-10 col-md-10 col-sm-10">
                            <p class="profile-bio" style="padding-left: 6px;color: rgb(7,18,102);">Click the button to view Uganda Advanced Level combinations that suit yor career goal.</p>
                        </div>
                        <div class="col">
<button mat-raised-button style="color: rgb(7,18,102);" routerLink='/recommendations'>Try Now !</button>
<!--
<a class="btn btn-outline-primary" role="button" style="background-color: transparent;color: rgb(7,18,102);font-size: 14px;" routerLink="/recommendations">Try Now !</a> -->

</div>
                    </div>
                </div>
                <div>
                    <div class="row" style="height: 100%;margin-top: 1%;">
                        <div class="col col-lg-10 col-md-10 col-sm-10">
                            <p class="profile-bio" style="padding-left: 6px;color: rgb(7,18,102);">Click the button on the right to view recommended courses that give you a better chance of getting a government sponsorship to pursue your career goals.</p>
                        </div>
                        <div class="col">
<button  mat-raised-button style="color: rgb(7,18,102);" routerLink='/recommendations'>Try Now !</button>
<!--
<a class="btn btn-outline-primary" role="button" style="background-color: transparent;color: rgb(7,18,102);font-size: 14px;" routerLink="/recommendations">Try Now !</a> -->
</div>
                    </div>
                </div>
                <div>
                    <div class="row" style="height: 100%;margin-top: 1%;">
                        <div class="col col-lg-10 col-md-10 col-sm-10">
                            <p class="profile-bio" style="padding-left: 6px;color: rgb(7,18,102);">View a list of recommended courses that you can apply for and give yourself a better chance of getting a placement at different public universities in Uganda under the private sponsorship scheme.</p>
                        </div>
                        <div class="col">
<button  mat-raised-button style="color: rgb(7,18,102);" routerLink='/recommendations'>Try Now !</button>
<!--
<a class="btn btn-outline-primary" role="button" style="background-color: transparent;color: rgb(7,18,102);font-size: 14px;" routerLink="/recommendations">Try Now !</a> -->
</div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-3 col-sm-3" style="height: 100%;">
                <div>
                    <div class="row" style="height: 100%;">
                        <div class="col" style="padding: 0px;"><!-- Paradise Slider -->
                            <div id="fw_al_001" class="carousel slide ps_slide_y ps_indicators_y swipe_y ps_easeOutQuint" data-ride="carousel" data-pause="hover" data-interval="6000" data-duration="2500" style="max-width:100%; max-height:100%;">

                                <!-- Indicators
                                <ol class="carousel-indicators">
                                    <li data-target="#fw_al_001" data-slide-to="0" class="active"></li>
                                    <li data-target="#fw_al_001" data-slide-to="1"></li>
                                    <li data-target="#fw_al_001" data-slide-to="2"></li>
                                </ol>
                                -->
                                <!-- Wrapper For Slides -->
                                <div class="carousel-inner" role="listbox">

                                    <!-- First Slide -->
                                    <div class="carousel-item active" >

                                        <!-- Slide Background -->
                                        <img src="assets/img/careerbg.jpeg" alt="fw_al_001_02">

                                        <!-- Slide Text Layer -->
                                        <div class="fw_al_001_slide" style=" margin:0px; top:10%; width:100%;">

                                            <p data-animation="animated fadeInUp" style="background-color: rgba(0,0,0,0.1);color:rgb(7,18,102);border:none;">Many of us dream of escaping, but work isn’t going away, so you ought to make it something great instead.</p>
                                        </div>
                                        
                                    </div>
                                    <!-- End of Slide -->

                                    <!-- Second Slide -->
                                    <div class="carousel-item">

                                        <!-- Slide Background -->
                                        <img src="assets/img/sugeaons2.jpg" alt="fw_al_001_02">

                                        <!-- Slide Text Layer -->
                                        <div class="fw_al_001_slide" style=" margin:0px; top:10%; width:100%;">

                                            <p data-animation="animated fadeInUp" style="color:rgb(7,18,102);border:none;">Understanding how your career actually works, not just doing what feels good, is the first step to mastering it.</p>
                                            
                                        </div>
                                    </div>
                                    <!-- End of Slide -->

                                    <!-- Third Slide -->
                                    <div class="carousel-item">

                                        <!-- Slide Background -->
                                        <img src="assets/img/student-education.jpg" alt="fw_al_001_02">

                                        <!-- Slide Text Layer -->
                                        <div class="fw_al_001_slide" style=" margin:0px; top:10%; width:100%;">
                                            <p data-animation="animated fadeInUp" style=" color:rgb(7,18,102);border:none;">Work occupies much of our waking lives. Why not spend the time to build a career you love, rather than one which makes you miserable? </p>
                                        </div>
                                    <!-- End of Slide -->
                                    </div>
                                </div><!-- End of Wrapper For Slides -->

                            </div> <!-- End Paradise Slider -->




                        </div>
                    </div>
                </div>
                <div>
                    <div class="row" style="height: 100%;margin-top: 1%;">
                        <div class="col text-center" style="padding-bottom: 15px;padding-top: 15px;padding-left: 15px;">
                            <p style="color: rgb(7,18,102);">Learn about the careers you could undertake with your subjects.</p>
<button  mat-raised-button style="color: rgb(7,18,102);" routerLink='/blog'>Learn</button>
<!--
                            <a class="btn btn-outline" role="button" style="color: rgb(7,18,102); border-color: rgb(7,18,102);" routerLink='/blog'>Learn</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="container-fluid" style="filter: blur(0px) brightness(56%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(99%);padding-left: 0px;padding-right: 0px;">
    <section style="background-color: rgba(0,0,0,0.1);">
        <div class="row" style="height: 100%;margin-top: 1%;">
            <div class="col" style="max-width: 100%;height: 100%;">
                <div>
                    <div class="row" data-aos="zoom-in" style="height: 100%;margin-top: 1%;margin-bottom: 1%;">
                        <div class="col">
                            <p class="text-center profile-bio" style="color: rgb(81,245,4);font-size: 20px;">In demand careers<br></p>
                            <div class="row text-center" style="color: rgb(81,245,4);padding: 1%;">
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/computer.jpg" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Data Scientists</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/surgeon.jpg" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Doctors</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/lawfirm.jpg" style="max-height: 86px;opacity: 1;filter: brightness(124%) contrast(191%) saturate(99%);">
                                    <p style="color: rgb(81,245,4);">Lawyer</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/vet.png" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Vet Doctors</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/engineer.jpg" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Engineers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-aos="zoom-in" style="height: 100%;margin-top: 1%;margin-bottom: 1%;">
                        <div class="col">
                            <p class="text-center profile-bio" style="color: rgb(81,245,4);font-size: 20px;">In demand universities<br></p>
                            <div class="row text-center">
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/mak.jpg" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Makerere University</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/kyu.png" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Kyambogo University</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/must.jpeg" style="max-height: 86px;width: 87px;max-width: 87px;">
                                    <p style="color: rgb(81,245,4);">Mbarara University</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/busitema.png" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Busitema University</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/gulu.png" style="max-height: 86px;width: 87px;max-width: 87px;height: 86px;">
                                    <p style="color: rgb(81,245,4);">Gulu University</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-aos="zoom-in" style="height: 100%;margin-top: 1%;margin-bottom: 1%;">
                        <div class="col">
                            <p class="text-center profile-bio" style="color: rgb(81,245,4);font-size: 20px;">In demand&nbsp;courses<br></p>
                            <div class="row text-center">
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/econ.jpg" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Economics</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/med.jpeg" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Medicine</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/law.jpg" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Law</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/eng.jpg" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Engineering</p>
                                </div>
                                <div class="col"><img class="img-thumbnail img-fluid border rounded border-success" src="assets/img/med.jpeg" style="max-height: 86px;">
                                    <p style="color: rgb(81,245,4);">Vet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="container-fluid container" style="filter: blur(0px) brightness(56%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(99%);padding-top: 3%;">
    <section style="margin-left: 1%;background-color: transparent;margin-right: 1%;">
        <blockquote class="quote-card">   
            <p>The best way to find yourself is to lose yourself in the service of others.
            </p>
            <cite>Edwin Wabwire</cite>            
        </blockquote>
    </section>
</div>

<div class="container-fluid" style="filter: blur(0px) brightness(56%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(99%);background-color: rgba(0,0,0,0.1);">
    <section style="margin-left: 1%;margin-right: 1%;">
        <div class="row" data-aos="slide-up" data-aos-duration="800" style="margin: 0px;padding: 20px;">
            <div class="col" style="padding:0px;">
                <div class="card" style="background-color: transparent; border:none;">
                    <div class="card-body" style="height: 49vh;background-color: transparent;border: none;">
                        <h4 class="card-title" style="color: rgb(7,18,102);">Personal Mission Statement<br></h4>
                        <p class="card-text" style="color:  rgb(7,18,102);">If you don’t have a personal mission statement, you’re probably wasting a lot of time. See why and how to write a personal mission statement that’ll make all your choices easy.<br></p><a class="card-link" href="#" style="color: rgb(7,18,102);font-family: Satisfy, cursive;">Patrick Amwine, Career Advisor - 14/12/2019</a></div>
                </div>
            </div>
            <div class="w-100 d-sm-block d-md-none d-lg-none d-xl-none"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="padding:0px;" title="kmkl">
                <div class="border rounded" style="background-image: url(&quot;assets/img/engineer2.jpg&quot;);height: 50vh;background-repeat: no-repeat;background-size: cover;background-position: center;"></div>
            </div>
        </div>
    </section>
</div>

<div class="container" style="padding: 3%;">
    <div class="intro">
        <h2 class="text-center" style="color: rgb(81,245,4);">Latest Articles</h2>
        <p class="text-center" style="color: rgb(7,18,102);">Understanding how your career actually works, not just doing what feels good, is the first step to mastering it.<br></p>
    </div>
    <div class="row articles">
        <div class="col-sm-4 col-md-4 item" data-aos="fade-up-right">
            <a href="#"><img class="img-fluid" src="assets/img/engineer.jpg"></a>
            <h3 class="name" style="color: rgb(81,245,4);font-family: Abel, sans-serif;">Work harder</h3>
            <p class="description" style="color: rgb(7,18,102);font-family: Abel, sans-serif;">Work occupies much of our waking lives. Why not spend the time to build a career you love, rather than one which makes you miserable? Below are some of my best ideas on how to build a successful career.<br></p>
            <a class="action" routerLink='/blog'>
                <i class="fa fa-arrow-circle-right" style="color: rgb(81,245,4);"></i>
            </a>
        </div>
        <div class="col-sm-4 col-md-4 item" data-aos="fade-up">
            <a href="#"><img class="img-fluid" src="assets/img/careerbg.jpeg"></a>
            <h3 class="name" style="color: rgb(81,245,4);font-family: Abel, sans-serif;">Be a hero to yourself</h3>
            <p class="description" style="color: rgb(7,18,102);font-family: Abel, sans-serif;">Your career isn’t a solitary activity. Every promotion you get, new job you apply to, or clients/customers you gain will be new people to win over. Here’s how to build the relationships that matter.</p>
            <a class="action" routerLink='/blog'>
                <i class="fa fa-arrow-circle-right" style="color: rgb(81,245,4);"></i>
            </a>
        </div>
        <div class="col-sm-4 col-md-4 item" data-aos="fade-up-left">
            <a href="#"><img class="img-fluid" src="assets/img/eng.jpg"></a>
            <h3 class="name" style="color: rgb(81,245,4);font-family: Abel, sans-serif;">Now is the future</h3>
            <p class="description" style="color: rgb(7,18,102);font-family: Abel, sans-serif;">Work occupies much of our waking lives. Why not spend the time to build a career you love, rather than one which makes you miserable? Below are some of my best ideas on how to build a successful career.<br></p>
            <a class="action" routerLink='/blog'>
                <i class="fa fa-arrow-circle-right" style="color: rgb(81,245,4);"></i>
            </a>
        </div>
    </div>
</div>
